{% set staff = user_manager.has_staff_rights_on_course(course) %}

{% if can_display %}
    <h3>Project Generator</h3>
{% endif %}

{% if not is_lti() and staff and can_display %}
    <form method="post" id="generateProjectTaskTest" action="{{get_homepath()}}/admin/{{course.get_id()}}/project_generator">
        <div class="list-group-mb-3">
            <input type="hidden" name="action" value="generateProjectTask" />
            <input type="hidden" name="task" value="{{task.get_id()}}"/>
            {% if requirements_ok %}
                <button class="btn list-group-item list-group-item-action list-group-item-info" type="submit" role="button" aria-pressed="false">
                    <i class="fa fa-file-archive-o fa-fw"></i>&nbsp;Generate IntelliJ Project
                </button>
            {% else %}
                <button class="btn list-group-item list-group-item-action list-group-item-warning" type="submit" role="button" aria-pressed="false">
                    <i class="fa fa-file-archive-o fa-fw"></i>&nbsp;Generate IntelliJ Project
                </button>
            {% endif %}
        </div>
    </form>
{% endif %}

{% if can_display %}
    <form method="post" id="download_project" action="{{get_homepath()}}/plugins/{{course.get_id()}}/{{task.get_id()}}/project_generator" data-action="courseid=">
        <div class="list-group-mb-3">
            <input type="hidden" name="action" value="download_project" />
            <input type="hidden" name="task" value="{{task.get_id()}}"/>
            <button class="btn list-group-item list-group-item-action list-group-item-info" type="submit" role="button" aria-pressed="false">
                <i class="fa fa-download fa-fw"></i>&nbsp;Download IntelliJ Project
            </button>
        </div>
    </form>
{% endif %}